
<div class="row">
	<div class="col-md-6 col-lg-4 col-lg-offset-1">
		<h2>Log in</h2>
		<form class="form-horizontal" action='@routes.HomeController.login()' method="post">
			<div class="form-group">
				<!-- <label for="name" class="col-sm-2 control-label">Name</label> -->
				<div class="col-sm-12">
					<input type="text" name="name" class="form-control" id="name" placeholder="Name">
				</div>
			</div>

			<div class="form-group">
				<!-- <label for="pass" class="col-sm-2 control-label">Password</label> -->
				<div class="col-sm-12">
					<input type="password" name="pass" class="form-control" id="pass" placeholder="Password">
				</div>
			</div>

			<div class="form-group">
				<div class="col-sm-12">
					<button type="submit" class="btn btn-primary">Log in</button>
				</div>
			</div>
		</form>
	</div>

	<div class="col-md-6 col-lg-4 col-lg-offset-2">
		<h2>New Account</h2>
		<form class="form-horizontal" action='@routes.HomeController.register()' method="post">
			<div class="form-group row">
				<!-- <label for="name" class="col-sm-2 control-label">Name</label> -->
				<div class="col-sm-12">
					<input type="text" name="name" class="form-control" id="name" placeholder="Name">
				</div>
			</div>

			<div class="form-group row">
				<!-- <label for="pass" class="col-sm-2 control-label">Password</label> -->
				<div class="col-sm-12">
					<input type="password" name="pass" class="form-control" id="pass" placeholder="Password">
				</div>
			</div>

			<div class="form-group">
				<div class="col-sm-12">
					<button type="submit" class="btn btn-primary">Register</button>
				</div>
			</div>
		</form>
	</div>
</div>